<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <style>
        #uploadInput {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="../static/profile.css">
</head>
<body class="Profile-Body">
    <div class="Profile-Container">
        <div class="Profile-Left">
            <p>Email - {{ email }}</p>
            <div>
                <img id="avatar" src="https://png.pngtree.com/png-clipart/20230927/original/pngtree-man-avatar-image-for-profile-png-image_13001882.png" alt="Avatar" style="width: 100px; height: 100px; background-color: #5231a0; border-radius: 50%;">
            </div>
            <p id="profile-resume">{{ resume }}</p>
        </div>

        <div class="Profile-Right">
            <h3>Edit Profile Information</h3>
            <form class="Profile-Form" method="POST" action="{{ url_for('update_profile') }}">
                <div id="email-right-form">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="{{ email }}">
                </div>
                <div id="phone-right-form">
                    <label for="phone">Phone Number</label>
                    <input type="text" id="phone" name="phone" value="{{ phone }}">
                </div>
                <div id="resume-right-form">
                    <label for="resume">My Resume</label>
                    <textarea id="resume" name="resume">{{ resume }}</textarea>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
            <div class="text-center mt-3">
                <a href="{{ url_for('home') }}" class="btn btn-secondary">Back to Home</a>
            </div>
        </div>
    </div>
</body>
</html>
